body{
	margin: 0;
	background: white;
}

.container{
	width: 100%;
	height: 100%;
}
.top-bar{
	position: fixed;
	z-index: 20;
	height: 50px;
	width: 100%;
	background: white;
	border-bottom: 1px solid rgba(0, 0, 0, 0.36);																																																									
}

.right{
	float: right;
	margin-right: 1.5%;
}

.left{
	float: left;
	margin-left: 1.5%;
}

.top_icons{
	margin-top: 1%;
}

button{
	background: transparent;
	box-shadow: 0px 0px 0px 2px #ff695e inset !important;
	color: #ff695e;
	text-shadow: none;
	background-image: none;
	cursor: pointer;
	display: inline-block;
	min-height: 1em;
	outline: none;
	border: none;
	vertical-align: baseline;
	font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	margin: 0em 0.25em 0em 0em;
	padding: 0.8em 1.5em 0.8em;
	text-transform: none;
	font-weight: bold;
	line-height: 1;
	font-style: normal;
	text-align: center;
	text-decoration: none;
	border-radius: 0.2857rem;
	-webkit-user-select: none;
	transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
	-webkit-tap-highlight-color: transparent;
}
a{
	text-decoration: none;
	color: #E91E63;
}

a:visited{
	color: #E91E63;
}

.left_pane{
	position: absolute;
	width: 50%;
	margin-top: 50px;
	bottom: 0;
	top: 0;
}

.right_pane{
	margin-top: 50px;
	position: absolute;
	width: 50%;
	background: white;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 10;
	border-left: 1px solid rgba(0, 0, 0, 0.36);
	overflow-y: scroll;
}

input{
	height: 30px;
	width: 100%;
	font-size: 1.4em;
}

hr{
	border: 0.5 px solid rgba(0, 0, 0, 0.36);
}



input[type="checkbox"]{
	height: 15px;
	width: 15px;
}
.one{
	margin-top: 50px;
}

.no_of_results{
	width: 100%;
	height: 60px;
}

.result_img{
	position: relative;
	width: 100%;
	height: 80%;
	-webkit-transition: all 0.5s linear;
       -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
         -o-transition: all 0.5s linear;
            transition: all 0.5s linear;
}

.result_img:hover{
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
}

.seven.wide.column.item{
	background: rgb(130, 189, 197);
	padding: 10px;
	margin-right: 15px;
}

figure {
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

figure img {
	display: block;
	opacity: 0.8;
}

figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure figcaption::before,
figure figcaption::after {
	pointer-events: none;
}

figure figcaption,
figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

figure h5 {
	word-spacing: -0.15em;
	font-weight: 300;
}

figure h5 span {
	font-weight: 800;
}

figure h5,
figure p {
	margin: 0;
}

figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

figure.effect-honey {
	background: white;
}

figure.effect-honey img {
	opacity: 0.9;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-honey:hover img {
	opacity: 0.5;
}

figure.effect-honey figcaption::before {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 10px;
	background: #fff;
	content: '';
	-webkit-transform: translate3d(0,10px,0);
	transform: translate3d(0,10px,0);
}

figure.effect-honey h5 {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 1em 1.5em;
	width: 100%;
	text-align: left;
	-webkit-transform: translate3d(0,-30px,0);
	transform: translate3d(0,-30px,0);
}

figure.effect-honey h5 i {
	font-style: normal;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,-30px,0);
	transform: translate3d(0,-30px,0);
}

figure.effect-honey figcaption::before,
figure.effect-honey h5 {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-honey:hover figcaption::before,
figure.effect-honey:hover h5,
figure.effect-honey:hover h5 i {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
@media (max-width: 767px) {
    .left_pane{
    	display: none;
    }
 
    .right_pane{
    	width: 100%;
    }
}